<div class="flex flex-col h-screen w-full bg-[#212121]">
  <div class="h-12"></div>
  <div
    #chatContent
    class="flex flex-1 flex-col max-h-[86vh] overflow-auto pb-8"
  >
    @for (message of messages; track message) {
      @if (message.type === "prompt") {
        <app-prompt-bubble [text]="message.text"></app-prompt-bubble>
      } @else if (message.type === "response") {
        <app-response-bubble [text]="message.text"></app-response-bubble>
      }
    }
  </div>
  <div class="w-[48rem] mx-auto mt-5 mb-5">
    <div class="flex mx-auto w-[48rem]">
      <div class="flex w-full rounded-[26px] bg-[#2f2f2f] px-3 items-end">
        <textarea
          #chatInput
          autoResize
          class="text-white placeholder:!text-gray-400 leading-6 bg-transparent mx-5 focus:border-0 py-3 focus:outline-0 w-full resize-none overflow-auto"
          placeholder="Sende eine Nachricht"
          [(ngModel)]="messageText"
          (ngModelChange)="onInputChange()"
          (keydown.enter)="onEnter($event)"
        ></textarea>

        <div
          class="flex justify-center items-center rounded-full w-9 h-8 mb-2 cursor-pointer transition-colors duration-300"
          [ngClass]="{
            'bg-white hover:bg-[#c1c1c1]': isTextEntered,
            'bg-[#676767] text-[#2f2f2f]': !isTextEntered,
          }"
          (click)="onButtonPress()"
        >
          <i class="pi pi-arrow-up"></i>
        </div>
      </div>
    </div>
  </div>
</div>
